@charset "UTF-8";

@import url("header.css");
@import url("footer.css");
@import url("dashboard.css");
@import url("login.css");

/*BASE*/

body {
   background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.content-wrapper {
    flex: 1; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*TITLES*/

h1 { color: #2c3e50; }




/*BUTTON*/

.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #3498db;
    padding: 8px 16px;
    border-radius: 5px;
}